:root {
  --darkplus-bg: #212121;
  --darkplus-bg2: #302f2f;
  --darkplus-sec: #bb86fc;
  --darkplus-links: #cdaef3;
  --darkplus-home-icon: url(https://cdn.discordapp.com/attachments/840501822816649272/951098925601927229/Discord-Logo-Tagline-Slogan-Owner-Founder.png);
}
